
main {
  background-image: url('../Images/background.jpg');
  background-size: cover;
  height: 100vh;
  background-repeat: repeat;
}


main button {
  background-color: #38C7F6;
  border: none;
  height: 45px;
  opacity: .8;
  border-radius: 3px;
  box-shadow: 0 0 50px #38C7F6;
  width: 200px;
}

.logo {
  width: 140px;
  box-sizing: border-box;
  padding: 20px;
  margin: 0px auto;
  display: block;
}

nav {
  display: flex;
  justify-content: space-around;
}

.router__link {
  text-decoration: none;
  color: white;
  opacity: 1;
  font-size: 24px;
  font-weight: bold;
}